.card-section {
  position: absolute;
  top: 1000px;

  .title {
    padding: 10px;
    margin: 10px;
  }

  .cads-list {
    list-style: none;
    display: flex;

    .card-item {
      width: 10%;
      height: 70%;
      margin: 20px;
    }
  }
}
