.card-section {
  position: absolute;
  top: 1000px;
}

.card-section .title {
  padding: 10px;
  margin: 10px;
}

.card-section .cads-list {
  list-style: none;
  display: flex;
}

.card-section .cads-list .card-item {
  width: 10%;
  height: 70%;
  margin: 20px;
}
